<div class="container">
	<div class="jumbotron">
		<h1> <%= @user.name %></h1>
	<ul class="list-group">
	<li class="list-group-item"><%= @user.email %></li>
	<li class="list-group-item"><%= @user.personal.prefecture.name %></li>
	<li class="list-group-item"><%= @user.personal.city %></li>
	<li class="list-group-item"><%= @user.personal.address %></li>
	<li class="list-group-item"><%= @user.personal.tel %></li>
	</ul>
	<%= link_to 'プロフィール変更', edit_user_path(current_user),class: "btn btn-primary"%>
</div>
</div>
