
<h1>カート一覧</h1>
	<div class="col-sm-4">
		<ul class="media-list">
		<% @cart.each do |cart| %>
			<% if cart.is_purchase == true %>			
				<% unless cart.item.thumbnails.empty? %>
					<% cart.item.thumbnails.each_with_index do |thumbnail,i| %>
						<li class="media"><%= image_tag thumbnail.image.url,class: 'thumbnail media-left' %></li>
					<% break if i==0 %>
					<% end %>
				<% else %>
					<li class="alt">画像が<br>ありません</li>
				<% end %>
				<div class="media-body">
					<li class="media-header"><%= cart.item.name %></li>
					<li><%= cart.quantity %>個　カートにはいっています</li>
					<li><%= cart.item.price*cart.quantity %>円</li>
					<li><%= cart.item.description %></li>
					<li><%= link_to 'カートから出す', item_cart_path(cart.item),method: :delete %></li>
				</div>
			<% end %>
		<% end %>
		<li>合計<%= user_item_total_fee current_user %>円</li>
		</ul>
	</div>
<h2>購入する</h2>
<div class='col-sm-4'>
<% unless current_user.personal.present? %>
	<%= form_for(@personal, url: user_order_path(current_user)) do |f| %>
			<div class="form-group">
			<%= f.collection_select :state, JpPrefecture::Prefecture.all, :code, :name %>
			<%= f.text_field :city, placeholder: '市区町村',class: 'form-control' %>
			<%= f.text_field :address, placeholder: '丁目、番地',class: 'form-control' %>
			<%= f.text_field :tel, placeholder: '電話番号',class: 'form-control' %>
			</div>
		<%= f.submit '購入' %>
	<% end %>
<% else %>
<ul class="list-group">
	<li class="list-group-item"><%= current_user.email %></li>
	<li class="list-group-item"><%= @personal.prefecture.name %></li>
	<li class="list-group-item"><%= @personal.city %></li>
	<li class="list-group-item"><%= @personal.address %></li>
	<li class="list-group-item"><%= @personal.tel %></li>
	</ul>
<% end %>
	<%= link_to '購入者情報を変更する', user_path(current_user) %>|
	<%= link_to '購入する', user_order_path(current_user),method: :post%>
</div>