<h1>商品を編集する</h1>
<div class="container">
<%= form_for(@item) do |f| %>
<div class="form-group">
	<%= f.text_field :name, placeholder: '商品名',class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.text_area :description, placeholder: '商品説明', class: 'form-control'%>
</div>
<div class="form-group">
	<%= f.text_field :price, placeholder: '価格',class: 'form-control' %>
</div>
		<%= f.fields_for :backyard do |backyard| %>
			<div class="form-group">
				個数
			<%= backyard.text_field :stock, placeholder: '個数',class: 'form-control' %>
			</div>
		<% end %>
	<%= f.submit '出品' %>
</div>
<% end %>