<div class="container">
	<h1><%= @item.name %></h1>
	<% unless @item.thumbnails.empty? %>
	<div id="container">
    	<div id="theTarget">
			<% @item.thumbnails.each do |thumbnail| %>
			<%= image_tag thumbnail.image.url ,class: 'skippr-img' %>
			<% end %>
		</div>
	</div>
	<% else %>
		<li class="alt">画像が<br>ありません</li>
	<% end %>
	<div class="panel panel-default">
		<div class="panel-heading">
			価格
		</div>
		<div class="panel-body">
			<%= @item.price %>円
		</div>
		<div class="panel-heading">
			商品説明
		</div>
		<div class="panel-body">
		<%= @item.description %>
		</div>
	</div>
	<h2>カートに商品を入れる</h2>
	<% if item_in_cart_already? @item.cart %>
		個数を変更する
		<%= form_for(:cart,url: item_cart_path(@item),method: :patch) do |f| %>
			<%= f.select :quantity, options_for_select([1,2,3,4,5]) %>
			<%= f.submit '個数を変更' %>
		<% end %>
	<% else %>
	<% if stock_nil? @item %>
		<p>売り切れ</p>
	<% else %>
		<%= form_for(:cart,url: item_cart_path(@item)) do |f| %>
			<%= f.select :quantity, options_for_select([1,2,3,4,5]) %>
			<%= f.submit 'カートに入れる' %>　
		<% end %>
	<% end %>
	<% end %>
	<% if user_signed_in? %>
	<%= link_to '購入ページへ', user_cart_path(current_user),class: "btn btn-primary"%>
	<% else %>
	<%= link_to '購入ページへ', new_user_session_path,class: "btn btn-primary"%>
	<% end %>
</div>