<div class='container'>
<h1 class="title"><%= @category.first.area_i18n %></h1>
<%= render 'layouts/header' %>
<%= form_tag(category_path,method:"get") do %>
			<%= select_tag 'price',options_for_select([1000, 2000,3000,4000] ),class: 'form-control'%>
			<%= submit_tag '検索' , class: 'btn btn-default'%>
		<% end %>
<% @category.map{|f| f.item}.each do |item| %>
	<div class="col-sm-4" >
		<ul class="media-list">
		<% unless item.thumbnails.empty? %>
		<% item.thumbnails.each_with_index do |thumbnail,i| %>
			<li class="media"><%= image_tag thumbnail.image.url,class: 'thumbnail media-left' %></li>
			<% break if i== 0 %>
			<% end %>
		<% else %>
			<li class="alt">画像が<br>ありません</li>
		<% end %>
		<div class="media-body"> 
		<li class="media-heading"><%= link_to item.name, item_path(item),data: {"turbolinks" => false} %></li>
		<li><%= item.price %>円</li>
		<li><%= item.description %></li>
		<li><%= item.category.color_i18n %></li>
		<li><%= item.category.area_i18n %></li>
		<% if  stock_nil? item %>
			<li>売り切れ</li>
		<% else %>
			<li>在庫<%= item.backyard.stock %>個</li>
		<% end %>
		</div>
		</ul>
	</div>
<% end %>
<div class='page'><%= paginate @category %></div>
</div>
